$primary: #AE58E3;
$primary-dark: darken($primary, 20%);

header {
  background: $primary;

.logo {
    font-weight: bold;
    font-size:x-large;
}


  nav {
      overflow: hidden;
      justify-self: right;

      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  // padding: 1.5em;
                  text-transform: uppercase;
                  font-size: .9em;

                  &:hover {
                      background: #983dd0;
                  }
              }
          }
      }
  }
  .containerLogo {
    display: flex;
    align-items: center;


    .video {
      width: 2.5vw;
      padding-right: 10px;
    }
  }

  .containerSearch {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
  }

}
