$unwatced: rgb(181, 181, 181);
$unwatced-card: rgb(239, 236, 240);
$primary: #AE58E3;
$primary-dark: darken($primary, 20%);
$secondary: #F48149;
$secondary-dark: darken($secondary, 20%);
$icon: 30px;
$border-rad : 10px;

div.heading  {
  h1 {
    text-align: center;
    color: $primary-dark;
    font-weight: bolder;
  }

  .trash-icon {
    font-size: $icon;
    margin: 0 auto;
    margin-left: 90%;
  }

  .trash-icon:hover {
    cursor: pointer;
    color: $secondary;
  }

}



div.movie-list {
  display: flex;



}

div.unwatched {
  text-align: center;
  flex: 0 0 50%;
  .containerBottom {
    justify-content: space-between;
  }
}


div.watched {
  text-align: center;
  flex: 1;
  .containerBottom {
    justify-content:flex-end;
  }

}

.title:hover {
  cursor: pointer;
}

li {
  list-style: none;

  img {
    width: 40%;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 30px;
  padding: 30px;

  .poster {
    border-radius: $border-rad;
    padding: 18px;
  }

  .poster:hover {
    cursor: pointer;
  }
}

.containerBottom {
  display: flex;
  align-items: center;
}



.remove-movie {
  font-size: $icon;
}

.remove-movie:hover {
  cursor: pointer;
  color: $secondary;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;

  h4 {
    color: $primary-dark;
  }

  .stars {
    color: $unwatced;

    .star-hover {
      color: $secondary;
    }

    .rated {
      color: $secondary;
    }
  }
}

.stars:hover {
  cursor: pointer;
}

.unwatched-icon {
  color: $unwatced;
  font-size: $icon;
}

.unwatched-icon:hover {
  color: $secondary;
  cursor: pointer;
}

.watched {
  .card {
    background-color: $unwatced-card;
  }
}






