$primary: #AE58E3;
$primary-dark: darken($primary, 20%);
$primary-light: lighten($primary, 20%);
$border-radius: 7px;
$margin: 10px;

#search-container {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.submit {
  padding: 10px;
  // margin: $margin;
  background-color: $primary-dark;
  text-shadow: none;
  border: none;
  font: bold 15px arial, sans-serif;
  color: rgb(240, 240, 240);
  border-radius: $border-radius;

}

.submit:hover {
  cursor: pointer;
  background-color: darken($primary, 30%);
  color: rgb(240, 240, 240);
}

.search {
  padding: 5px;
  margin-right: $margin;
  width: 250px;
  height: 25px;
  border: none;
  border-radius: $border-radius;
}
