$primary: #AE58E3;
$primary-dark: darken($primary, 20%);
$primary-light: lighten($primary, 20%);

#search-container {
  float: right;
  display: flex;
}

.submit {
  padding: 10px;
  margin: 5px;
  background-color: $primary-dark;
  text-shadow: none;
  border: none;
  font: bold 15px arial, sans-serif;
  color: rgb(240, 240, 240);
  border-radius: 2px;

}

.submit:hover {
  cursor: pointer;
  background-color: darken($primary, 30%);
  color: rgb(240, 240, 240);
}

.search {
  padding: 5px;
  margin: 5px;
  height: 25px;
  width: 250px;
  border: none;
}
